<h1 class="layout-profile-icon">RAPPEL RÉGLEMENTAIRE</h1>

<div class="container">

  <div class="col">

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Programme mensuel signé par le chef hiérarchique</h4>
        <h4>Plafond: 20 unités de garde ou astreinte par mois</h4>

        <span class="chev">&rsaquo;</span>
      </div>
    </div>

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Envoi du programme au Directeur de l’hôpital sous couvert de voie hiérarchique avant le 20 de chaque mois qui précède le mois concerné</h4>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Envoi des copies du programme au Trésorier payeur</h4>
        <h4>Présence obligatoire du fonctionnaire assurant la garde à l’hôpital et à la date fixée par le programme </h4>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

  </div>

  <div class="col">

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Présence obligatoire du fonctionnaire assurant l’astreinte à l’hôpital une fois contacté par le service
        </h4>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Tout retard au service de garde, de 15 minutes au moins, non justifié entraine un précompte d’une heure de garde et sera compté pour le fonctionnaire assurant la garde à sa place ;
        </h4>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card" >
        <h5>Tout empêchement du fonctionnaire programmé pour la garde, il doit aviser par écrit le chef de service au moins 48 heures avant la date prévue par la garde et il peut proposer un de ses collègues pour le remplacer après l’accord du chef de service, dans ce cas il doit justifier son absence </h5>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

  </div>

  <div class="col">

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Passation des consignes à la fin de période de chaque garde </h4>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Le chef de service remplace les fonctionnaires qui ont un empêchement d’assurer la garde au service et communique à l’administration les changements imprévus dans les listes de garde </h4>
        <span class="chev"></span>
      </div>
    </div>

    <div class="card-container">
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="card">
        <h4>Les fonctionnaires qui s’absentent durant la période de la garde et l’astreinte ne doivent pas bénéficiés de l’indemnité même s’ils justifient leur absence.
        </h4>
        <span class="chev">&rsaquo;</span>
      </div>
    </div>

  </div>

</div>
