

<!--<input [(ngModel)]="mindate" type="date">-->
<!--<input type="date" pInputText  [(ngModel)]="maxdate"   />-->

<div class="p-formgroup-inline" >
    <div class="p-field">
        <input type="date" pInputText value="2020-01-08" [(ngModel)]="mindate"   />
        <input type="date" pInputText value="2022-01-08" [(ngModel)]="maxdate"   />
        <input type="number" pInputText  [(ngModel)]="nbrligne"   />
        <button  pButton class="p-button-plain p-mb-2" icon="pi pi-filter"
                 (click)="findBydateminetmax(matricule,mindate,maxdate)"   label="filtrer"></button>
        <button pButton pRipple label="Excel" icon="pi pi-file-excel" class="p-button-success p-mb-2" (click)="exportexcel()"></button>
        <button  pButton class="p-button-danger p-mb-2" printTitle="votre liste"
                 [useExistingCss]="true"
                 printSectionId="print-me" ngxPrint icon="pi pi-file-pdf" label="Pdf"></button>
        <img src="assets/layout/images/cancel_64px.png" (click)="returnto()" class="img1">
    </div>
    <div class="p-field">


    </div>
    <div class="p-field">

        <!--        <button pButton pRipple label="Exit" icon="pi pi-times" class="p-button-success p-mb-2" (click)="returnto()"></button>-->
    </div>
    <div class="p-field">

    </div>
<!--    <button  pButton class="p-button-danger rotated-icon p-mb-2"-->
<!--             (click)="returnto()"    style="margin-right: 8px"></button>-->



    <div class="p-field" >
<!--            <button  pButton class="p-button-danger p-mb-2"-->
<!--                     (click)="hide()"   label="hide liste" style="margin-right: 8px"></button>-->

<!--        <p-button icon="pi pi-times"  (click)="returnto()" class="p-mr-2 p-mb-2 return"></p-button>-->

    </div>


 </div>






<!--<button (click)="click(nbrligne,mindate)"></button>-->
<!--<input [(ngModel)]="maxdate" type="date">-->
<div  id="print-me"  ><div class="p-grid">
    <div class="p-col">
        <div class="box"></div>
    </div>
    <div class="p-col">
        <div class="box" size="50px"><img src="../../../../assets/layout/images/logo-roma-white.png" alt="logo"></div>    </div>
    <div class="p-col">
        <div class="box"></div>
    </div>


<!--<input type="date" placeholder="from" min="1" max="31" [(ngModel)]="from">-->
<!--<input type="text" placeholder="Le mois"  [(ngModel)]="{{listegarde.dateGarde| date:'EEEE'}}">-->

<!--<p-button label="Submit" icon="pi pi-bookmark" iconPos="right" class="p-mr-2 p-mb-2" ></p-button>-->






<div class="p-grid">
    <div class="p-col-12">


        <div class="card1">



            <p-table [value]="items" [columns]="cols" [rows]="nbrligne" [globalFilterFields]="['ref','dureDeGarde','dateGarde','jourounuit','garde.typeGarde','fonctionnaire.nom']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                      [showCurrentPageReport]="true">




                <ng-template pTemplate="header">
                    <tr>

                        <th>le jour</th>
                        <!--                        <th pSortableColumn="ref">Reference <p-sortIcon field="ref"></p-sortIcon></th>-->
                        <th pSortableColumn="dateGarde"><div class="p-d-flex p-jc-between p-ai-center">date Garde <p-sortIcon field="dategarde"></p-sortIcon><p-columnFilter type="date" field="dategarde" display="menu" class="p-ml-auto"></p-columnFilter>  </div></th>
                        <th pSortableColumn="jourounuit"><div class="p-d-flex p-jc-between p-ai-center">J/N <p-sortIcon field="jourounuit"></p-sortIcon><p-columnFilter type="text" field="jourounuit" display="menu" class="p-ml-auto"></p-columnFilter>  </div></th>
                        <th pSortableColumn="dureDeGarde"><div class="p-d-flex p-jc-between p-ai-center">dure De Garde en H <p-sortIcon field="dureDeGarde"></p-sortIcon><p-columnFilter type="text" field="dureDeGarde" display="menu" class="p-ml-auto"></p-columnFilter>  </div></th>
                        <th pSortableColumn="garde.typeGarde"><div class="p-d-flex p-jc-between p-ai-center">typeGarde <p-sortIcon field="garde.typeGarde"></p-sortIcon><p-columnFilter type="text" field="garde.typeGarde" display="menu" class="p-ml-auto"></p-columnFilter> </div></th>
                        <th pSortableColumn="fonctionnaire.nom"><div class="p-d-flex p-jc-between p-ai-center">nom et prenom <p-sortIcon field="fonctionnaire.nom"></p-sortIcon><p-columnFilter type="text" field="fonctionnaire.nom" display="menu" class="p-ml-auto"></p-columnFilter></div></th>
<!--                        <th></th>-->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-listegarde >
                    <tr *ngIf="((mindate| date: 'yyyy-MM-dd') <=(listegarde.dateGarde| date: 'yyyy-MM-dd')) ">



    <td>{{listegarde.dateGarde| date:'EEEE'}}</td>
    <!--                        <td>{{listegarde.ref}}</td>-->
    <td  >{{listegarde.dateGarde| date: 'yyyy-MM-dd'}}</td>
    <td>{{listegarde.jourounuit}}</td>

    <td>{{listegarde.dureDeGarde}}</td>
    <td>{{listegarde.garde.typeGarde}}</td>
    <td>{{listegarde.fonctionnaire.nom}}
        {{listegarde.fonctionnaire.prenom}}
    </td>
          </tr>

                </ng-template>

            </p-table>
        </div>

    </div>
</div>
    <h4 style="font-weight: bold;font-size: 12px"> N.B:</h4><br>
    <div  *ngFor="let c of itemsconge; index as i"  >
<div  *ngIf="c.dateDebutConge>=mindate || c.dateFinConge<=maxdate"> <p class="conge">{{c.fonctionnaire.nom}}   {{c.fonctionnaire.prenom}}  en conge: <span class="conge"> {{c.typeConge}}</span> :
    à partir du {{c.dateDebutConge}}<span class="hi"> => </span>
    {{c.dateFinConge}}

</p>  </div>

    </div>
<!--        <div class="p-grid">-->
<!--    <div *ngFor="let c of itemsconge; index as i" >-->
<!--&lt;!&ndash;        p-shadow-{{i + 1}}&ndash;&gt;-->
<!--&lt;!&ndash;        {{c.fonctionnaires.nom}}&ndash;&gt;-->
<!--&lt;!&ndash;        {{c.fonctionnaires.prenom}}&ndash;&gt;-->
<!--       <strong style="margin-left: 15px">{{c.typeConge}}</strong> :-->
<!--        {{c.dateDebutConge}}-->
<!--=>-->
<!--        {{c.dateFinConge}}-->
<!--        {{c.fonctionnaire.nom}}-->
<!--        {{c.fonctionnaire.prenom}}-->

<!--    </div>-->
<!--</div>-->


<!--    <p-table [value]="fonctionnairesitems" [columns]="cols" [rows]="nbrligne" [globalFilterFields]="['nom','prenom','dateDebutConge','dateFinConge','typeConge']"-->
<!--            [rowHover]="true" dataKey="id"-->
<!--             [showCurrentPageReport]="true">-->




<!--        <ng-template pTemplate="header">-->
<!--            <tr>-->

<!--                <th>nom</th>-->
<!--                <th>prenom</th>-->
<!--                <th>dateDebutConge</th>-->
<!--                <th>dateFinConge</th>-->
<!--                <th>typeConge</th>-->

<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-conge >-->
<!--            <tr *ngIf="conge.dateDebutConge>=mindate">-->
<!--<td>{{conge.fonctionnaire.nom}}</td>-->
<!--<td>{{conge.fonctionnaire.prenom}}</td>-->
<!--<td>{{conge.dateDebutConge}}</td>-->
<!--<td>{{conge.dateFinConge}}</td>-->
<!--<td>{{conge.typeConge}}</td>-->


<!--            </tr>-->

<!--        </ng-template>-->

<!--    </p-table>-->





</div>
</div>
