@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
.tt{

  margin-top: 20px;
  margin-left: 300px;
}
.b1{
  background-color: #4CAF50;
}
.b2{
  background-color: crimson;
}
.b3{
  background-color: #0e88b3;
}
