<div class="sasa">
    <div class="container">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
            <img src="/assets/layout/images/chuchulogo.png" class="mx-auto d-block pic">

            <form class="box"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate
            >
                <h1>se connecter</h1>

                <div class="form-group">
                    <label for="username" ><img src="assets/layout/images/team_40px.png " style="height: 30px ;width: 30px">Nom d'utilisateur</label>

                    <input
                            type="text"
                            class="form-control pi pi-user "
                            name="username"
                            [(ngModel)]="form.username"
                            required
                            #username="ngModel"
                   placeholder="Nom d'utilisateur" />
                    <div
                            class="alert alert-danger"
                            role="alert"
                            *ngIf="f.submitted && username.invalid"
                    >
                        Nom d'utilisateur est nécessaire!!                    </div>
                </div>
                <div class="form-group">
                    <label for="password"><img src="assets/layout/images/lock_64px.png " style="height: 30px ;width: 30px">mot de passe</label>
                    <input
                            type="password"
                            class="form-control"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                     placeholder="mot de passe"/>
                    <div
                            class="alert alert-danger"
                            role="alert"
                            *ngIf="f.submitted && password.invalid"
                    >
                        <div *ngIf="password.errors.required">mot de passe  est nécessaire!!  </div>
                        <div *ngIf="password.errors.minlength">
                            Le mot de passe doit être au moins de 6 caractères                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div
                            class="alert alert-danger inc"
                            role="alert"
                            *ngIf="f.submitted && isLoginFailed"
                    >
                        Identifiants incorrects
                        {{ errorMessage }}
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-danger">
                        Connexion

                    </button>


                </div>
            </form>
        </div>
    </div>
    <!--    <div class="alert alert-success" *ngIf="isLoggedIn">-->
    <!--      Logged in as {{ roles }}.-->
    <!--      {{nom}}-->
    <!--    </div>-->
    <!--    <button (click)="reloadPage()"> redirect </button>-->
</div>
