<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header=" Edit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <h6 for="ref">Ref</h6>
            <input type="text" pInputText id="ref" [(ngModel)]="selected.ref"   />
            <!--            <small class="p-invalid" *ngIf="submitted && !selected.reference">ref is required.</small>-->
        </div>
        <div class="p-field">
            <h6 for="dateGarde">dateGarde</h6>
            <input type="date" pInputText  id="dateGarde" [(ngModel)]="selected.dateGarde"   />

            <!--            <small class="p-invalid" *ngIf="submitted && !selected.total">total is required.</small>-->
        </div>



        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <h6 for="dureDeGarde">dureDeGarde</h6>
                <p-inputNumber id="dureDeGarde" [(ngModel)]="selected.dureDeGarde"></p-inputNumber>
            </div>
        </div>



        <h6>J/N</h6>
                <div class="p-field-radiobutton">
                    <p-radioButton name="jourounuit" value="jour" [(ngModel)]="selected.jourounuit" id="jourounuit"></p-radioButton>
                    <label for="jourounuit">jour</label>
                    <p-radioButton name="jourounuit" value="nuit" [(ngModel)]="selected.jourounuit"
                                   id="jourounuit1" style="margin-left: 15px"></p-radioButton>
                    <label for="jourounuit1">nuit</label>
                </div>




        <!--        <div class="p-formgrid p-grid">-->
        <!--            <div class="p-field p-col">-->
        <!--                <label for="statue">statue</label>-->
        <!--                <input type="text" id="statue"  pInputText [(ngModel)]="selected.statue">-->
        <!--            </div>-->
        <!--        </div>-->


        <!--        <div class="p-formgrid p-grid" *ngIf="selected.statue=='absent'">-->
        <!--            <div class="p-field p-col">-->
        <!--                <label for="raisondabsence">raisondabsence</label>-->
        <!--                <input type="text" id="raisondabsence"  pInputText [(ngModel)]="selected.raisondabsence">-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="p-field">
            <h6 >nom</h6>
            <p-autoComplete [(ngModel)]="selected.fonctionnaire.nom" [suggestions]="filteredFonctionnairenom" (completeMethod)="searchFonctionnaire($event)"></p-autoComplete>

        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <h6 >prenom </h6>
                <p-autoComplete [(ngModel)]="selected.fonctionnaire.prenom" [suggestions]="filteredFonctionnaireprenom" (completeMethod)="searchFonctionnaire($event)"></p-autoComplete>
            </div>
        </div>

<!--        <div class="p-formgrid p-grid">-->
<!--            <div class="p-field p-col">-->
<!--                <label for="matriculeSubb">type garde</label>-->
<!--                <input id="matriculeSubb" pInputText [(ngModel)]="selected.garde.typeGarde">-->
<!--            </div>-->
<!--        </div>-->


        <h6>type garde</h6>
        <div class="p-field-radiobutton">
            <p-radioButton name="typeGarde" value="garde" [(ngModel)]="selected.garde.typeGarde" id="typeGarde"></p-radioButton>
            <label for="typeGarde">Garde</label>
            <p-radioButton name="typeGarde" value="astreinte" [(ngModel)]="selected.garde.typeGarde"
                           id="typeGarde1" style="margin-left: 15px"></p-radioButton>
            <label for="typeGarde1">Astreinte</label>
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
