<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Ajouter un  utilisateur" [modal]="true" styleClass="p-fluid">
    <div class="col-md-12">
        <div class="card card-container">
            <img
                    id="profile-img"
                    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                    class="profile-img-card"
            />
            <form
                    *ngIf="!isSuccessful"
                    name="form"
                    (ngSubmit)="f.form.valid && save()"
                    #f="ngForm"
                    novalidate
            >
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input id="username"
                           type="text"
                           class="form-control"
                           name="username"
                           [(ngModel)]="form.username"
                           required
                           minlength="3"
                           maxlength="20"
                           #username="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">Nom d'utilisateur est nécessaire</div>
                        <div *ngIf="username.errors.minlength">
                            Le nom d'utilisateur doit comporter au moins 3 caractères                    </div>
                        <div *ngIf="username.errors.maxlength">
                            Le nom d'utilisateur doit comporter au maximum 20 caractères                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">Prenom</label>
                    <input
                            id="firstName"
                            type="text"
                            class="form-control"
                            name="firstName"
                            [(ngModel)]="form.firstName"
                            required
                            minlength="3"
                            maxlength="20"
                            #firstName="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
                        <div *ngIf="firstName.errors.required">Le prénom est requis</div>
                        <div *ngIf="firstName.errors.minlength">
                            Le prénom doit comporter au moins 3 caractères                    </div>
                        <div *ngIf="firstName.errors.maxlength">
                            Le prénom doit comporter au maximum 20 caractères                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input
                            id="lastName"
                            type="text"
                            class="form-control"
                            name="lastName"
                            [(ngModel)]="form.lastName"
                            required
                            minlength="3"
                            maxlength="20"
                            #lastName="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && lastName.invalid">
                        <div *ngIf="lastName.errors.required">Le nom est requis</div>
                        <div *ngIf="lastName.errors.minlength">
                            Le nom doit comporter au moins 3 caractères                    </div>
                        <div *ngIf="lastName.errors.maxlength">
                            Le nom doit comporter au maximum 20 caractères                    </div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="matricule">Matricule</label>
                    <input
                            id="matricule"
                            type="text"
                            class="form-control"
                            name="matricule"
                            [(ngModel)]="form.matricule"
                            required
                            minlength="3"
                            maxlength="20"
                            #matricule="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && lastName.invalid">
                        <div *ngIf="matricule.errors.required">Le matricule est requis</div>
                    </div>
                </div>







                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            id="email"
                            type="email"
                            class="form-control"
                            name="email"
                            [(ngModel)]="form.email"
                            required
                            email
                            #email="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                        <div *ngIf="email.errors.required">Email est requis</div>
                        <div *ngIf="email.errors.email">
                            L'e-mail doit être une adresse e-mail valide                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input
                            id="password"
                            type="password"
                            class="form-control"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                    />
                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Le Mot de passe est requis</div>
                        <div *ngIf="password.errors.minlength">
                            Le mot de passe doit être au moins de 6 caractères                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <button  class="btn btn-primary btn-block butt1">S'inscrire</button>
                </div>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    L'inscription a échoué!<br />{{ errorMessage }}
                </div>
            </form>

            <div class="alert alert-success" *ngIf="isSuccessful">
                Votre inscription est réussie!        </div>
        </div>
    </div>
</p-dialog>









<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
<!--                    <button (click)="exportexcel()"    >Export to Excel.xlsx</button>-->

                    <button pButton pRipple label="Export to Excel.csv" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()" style="margin-right: 10px"></button>
                    <button pButton pRipple label="Export to Excel.xlsx" icon="pi pi-upload" class="p-button-warning p-mb-2" (click)="exportexcel()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items"  id="excel-table" [columns]="cols" [rows]="15" [paginator]="true" [globalFilterFields]="['username','lastname','firstname','email','password','enabled','locked','matricule']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Manage utilisateurs</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="firstname">Prenom <p-sortIcon field="firstname"></p-sortIcon></th>
                        <th pSortableColumn="lastname">Nom <p-sortIcon field="lastname"></p-sortIcon></th>
                        <th pSortableColumn="matricule">Matricule <p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="email">email <p-sortIcon field="email"></p-sortIcon></th>
<!--                        <th pSortableColumn="password">password <p-sortIcon field="password"></p-sortIcon></th>-->
                        <th pSortableColumn="usernam">Nom d'utilisateur <p-sortIcon field="usernam"></p-sortIcon></th>
                        <th pSortableColumn="enabled">activé <p-sortIcon field="enabled"></p-sortIcon></th>
                        <th pSortableColumn="locked">désactivé <p-sortIcon field="locked"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr >
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.matricule}}</td>
                        <td>{{user.email}}</td>
<!--                        <td>{{user.password}}</td>-->
                        <td>{{user.username}}</td>
                        <td>

                            <span [className]=getstatue(user.enabled)>{{getBoolean(user)}}</span>
<!--                            <span [class]="'customer-badge status-' + user.enabled">{{user.enabled}}</span></td>-->
<!--                        <td class="p-d-flex p-jc-between p-ai-center customer-badge status-unqualified">{{getBoolean(user)}}</td>-->
                        <td>

                        <span [className]=getstatue(user.locked)>{{getBoolean1(user)}}</span>

                       </td>
                        <!--                        <td>{{chefservice.fo}}</td>-->


<!--                        <td>-->
<!--                            <button pButton pRipple icon="pi pi-pencil" class=" pi pi-star " (click)="edit(user)"></button>-->
                        <button  pButton pRipple type="button" label="editer" class="p-button-success  p-mr-xl-3 p-mb-xl-3 button1" (click)="edit(user)"></button>

                        <!--&lt;!&ndash;                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(chefservice)"></button>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(chefservice)"></button>&ndash;&gt;-->
<!--                        </td>-->
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{items ? items.length : 0 }} Utilisateurs.
                    </div>
                </ng-template>
            </p-table>
        </div>
<app-utilisateur-create></app-utilisateur-create>
<!--        <app-chefservice-create></app-chefservice-create>-->
<!--        <app-chefservice-edit></app-chefservice-edit>-->
<!--        <app-chefservice-view></app-chefservice-view>-->
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
