<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-2">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length" ></button>
                    <span class="ll"><label>de</label>   <input type="date"  pInputText value="2020-01-08" [(ngModel)]="mindate" (change)="findBydateminetmax(matricule,mindate,maxdate)"  />
                <label>à</label>     <input type="date" pInputText value="2022-01-08" [(ngModel)]="maxdate"  (change)="findBydateminetmax(matricule,mindate,maxdate)"/></span>
                    <p-button icon="pi pi-replay" class=" but1" (click)="ngOnInit()"></p-button>

                </ng-template>



                <ng-template pTemplate="right">
                    <button pButton pRipple label="imprimer" icon="pi pi-print
" class="p-button-help p-mr-2 p-mb-2" (click)="valider()"></button>
                    <!--                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>-->
                    <!--                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>-->
                </ng-template>
            </p-toolbar>


            <p-table editMode="row" #dt id="print-me" [value]="items" [columns]="cols" [rows]="nbrligne" [paginator]="false" [globalFilterFields]="['ref','dureDeGarde','dateGarde','jourounuit','garde.typeGarde','fonctionnaire.nom']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate=" {first} á {last} des {totalRecords} entrées" [showCurrentPageReport]="false" >
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        Liste de Garde

                        <span class="p-input-icon-right">
                    <i class="pi pi-bars"></i>
                            <p-inputNumber style="text-align: center" type="number"  [(ngModel)]="nbrligne" placeholder="nombre de ligne"></p-inputNumber>

                </span>
                        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                    </div>

                </ng-template>


                <!--                <ng-template pTemplate="caption">-->
                <!--                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">-->
                <!--                        <h5 class="p-m-0">Manage Liste Garde</h5>-->
                <!--                        <span class="p-input-icon-left">-->
                <!--                        <i class="pi pi-search"></i>-->
                <!--                        <input pInputText type="text"  placeholder="Search..." />-->
                <!--                    </span>-->
                <!--                    </div>-->
                <!--                </ng-template>-->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>le jour</th>
                        <!--                        <th pSortableColumn="ref">Reference <p-sortIcon field="ref"></p-sortIcon></th>-->
                        <th pSortableColumn="dateGarde"><div class="p-d-flex p-jc-between p-ai-center">date Garde <p-sortIcon field="dateGarde"></p-sortIcon><p-columnFilter type="date" field="dateGarde" display="menu" class="p-ml-auto"></p-columnFilter>  </div></th>
                        <th pSortableColumn="jourounuit"><div class="p-d-flex p-jc-between p-ai-center">J/N <p-sortIcon field="jourounuit"></p-sortIcon><p-columnFilter type="text" field="jourounuit" display="menu" class="p-ml-auto"></p-columnFilter>  </div></th>
                        <th pSortableColumn="dureDeGarde"><div class="p-d-flex p-jc-between p-ai-center">dure De Garde <p-sortIcon field="dureDeGarde"></p-sortIcon><p-columnFilter type="text" field="dureDeGarde" display="menu" class="p-ml-auto"></p-columnFilter>  </div></th>
                        <th pSortableColumn="garde.typeGarde"><div class="p-d-flex p-jc-between p-ai-center">typeGarde <p-sortIcon field="garde.typeGarde"></p-sortIcon><p-columnFilter type="text" field="garde.typeGarde" display="menu" class="p-ml-auto"></p-columnFilter> </div></th>
                        <th pSortableColumn="fonctionnaire.nom"><div class="p-d-flex p-jc-between p-ai-center">nom et prenom <p-sortIcon field="fonctionnaire.nom"></p-sortIcon><p-columnFilter type="text" field="fonctionnaire.nom" display="menu" class="p-ml-auto"></p-columnFilter></div></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-listegardeAstreinte >
                    <tr [pEditableRow]="listegardeAstreinte" >

                        <td>
                            <p-tableCheckbox [value]="listegardeAstreinte"></p-tableCheckbox>
                        </td>
                        <td>{{listegardeAstreinte.dateGarde| date:'EEEE'}}</td>
                        <!--                        <td>{{listegarde.ref}}</td>-->
                        <td>{{listegardeAstreinte.dateGarde| date: 'dd/MM/yyyy'}}</td>
                        <td><span [className]="getstatue(listegardeAstreinte.jourounuit)"> {{listegardeAstreinte.jourounuit}}</span>
                        </td>

                        <td >{{listegardeAstreinte.dureDeGarde}}</td>
                        <td>
                            <span [className]="getstatue(listegardeAstreinte.garde.typeGarde)">{{listegardeAstreinte.garde.typeGarde}}</span></td>

                        <td>{{listegardeAstreinte.fonctionnaire.nom}}
                            {{listegardeAstreinte.fonctionnaire.prenom}}
                        </td>
                        <!--                        <td>{{chefservice.fo}}</td>-->


                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(listegardeAstreinte)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(listegardeAstreinte)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(listegardeAstreinte)"></button>
                        </td>
                    </tr>

                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        {{items ? items.length : 0 }} lines.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-listegarde-create-astreinte></app-listegarde-create-astreinte>
        <app-listegarde-edit></app-listegarde-edit>
        <app-listegarde-view></app-listegarde-view>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>


