<div class="layout-footer">
    <div>

        <h6 [style]="{fontFamily: 'Consolas',fontweight: 'bolder'}"><img src="assets/layout/images/chulog.png" alt="chu-logo" width="15px"/><span>CHU Mohammed VI</span> </h6>
    </div>
    <div class="footer-icons">
        <button class="p-link">
            <i class="pi pi-home"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-globe"></i>
        </button>
        <button class="p-link">
            <i class="pi pi-envelope"></i>
        </button>
    </div>
</div>
