.jour{
  background-color: #0a80bb;
  font-family: Consolas;
}
.nuit{
  background-color: #4CAF50;
}
th{
  margin-top: 1px;
  font-family: Consolas;
  font-size: 12px;
}

td{
  font-family: Consolas;
  font-size: 10px;
  margin: 1px;
}
img{
  height: 100px;
  width: 300px;
}
.pconge{
  font-family: Consolas;
  font-size: 10px;
  font-weight: bold;

}

input{
  border-width: 9px;
  font-family: Consolas;
  font-weight: bold;
}
