.hr{
    font-size: 18px;
    font-family: Consolas;
    font-weight: bold;
    margin-left: 400px;
    margin-bottom: 10px;

}
/*span{*/
/*    color: #0a80bb;*/
/*    font-weight: bolder;*/
/*    font-size: 19px;*/
/*    padding-left: 20px;*/

/*}*/
.overview-box-title{
    font-weight: bold;
}
.wrapper {
    background: linear-gradient(to bottom,#108c94,  #2e236b);
    background: -webkit-linear-gradient(#108c94, #2e236b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 16px chilanka, segoe script, purisa, comic sans ms, cursive;
font-weight: bold;

}

.typing-demo {
    width: 22ch;
    animation: typing 10s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
input{
   border-color:#108c94 ;
    border-style: groove;

    color: #108c94;
    width: 250px;
    margin-left: 28px;
    border-radius: 20px;
    margin-right: 5px;
}
.searchchart,button{
margin-top: 22px;
margin-bottom: 22px;
}
